@model IEnumerable<DnD_Master.Models.Scene>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SceneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SceneName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SceneId" class="btn btn-warning">Edit</a>
                @* <a asp-action="Details" asp-route-id="@item.SceneId">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.SceneId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
